rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Un utilisateur ne peut lire et écrire que son propre document dans la collection "users"
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Ajoutez d'autres règles pour d'autres collections ici si nécessaire.
    // Par exemple, si vous avez une collection "posts" :
    // match /posts/{postId} {
    //   allow read: if request.auth != null; // Tous les utilisateurs connectés peuvent lire
    //   allow create, update, delete: if request.auth.uid == resource.data.authorId; // Seul l'auteur peut modifier
    // }
  }
}